@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Jost:wght@300;400;600;900&family=Outfit:wght@500&family=Pixelify+Sans&family=Roboto:wght@300;400;500;700;900&family=Space+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-color: #f6f6f6;
    --shadow-color: #d8d8d8;
    --white: #fff;
    --black: #000;
    --accent-color: #df6400;
    --hover-button-color: #f7f7f7;
    --grey-text: #818181;
}

:root {
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-color);
}
button {
    padding: 5px;
    color: var(--black);
    border: solid 1px var(--black);
    background-color: var(--white);
}
button:hover {
    background-color: var(--hover-button-color);
    cursor: pointer;
}
button:active {
    color: var(--black);
    background-color: var(--hover-button-color);
}

.content {
    background-color: var(--white);
    max-width: 1100px;
    margin: 10px auto;
    padding: 0px 20px;
    box-shadow: 0px 0px 10px var(--shadow-color);
}

.banner {
    position: relative;
    height: 500px;
    margin: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
}

.banner-content{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
}

.banner-button {
    width: 180px;
    height: 50px;
}

.banner-arrow-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    text-align: center;
    transform: translate(-50%, 0);
    animation: top-down ease-out 0.7s infinite alternate;
}
@keyframes top-down {
  from {height: 2%}
  to {height: 5%}
}

.list {
    min-height: 400px;
    margin: inherit;
}

.tab {
    margin-bottom: 25px;
}

.tab-button {
    padding: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    border: solid 1px var(--accent-color);
    color: var(--accent-color);
}

.tab-button-active {
    padding: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    border: solid 1px var(--accent-color);
    color: var(--white);
    background-color: var(--accent-color);
}
.tab-button-active:hover {
    cursor: auto;
    background-color: var(--accent-color);
}

.movie-row {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--black);
}

.movie-row-img {
    height: 330px;
    width: 230px;
}

.movie-row-img img {
    height: 330px;
    width: 230px;
    object-fit: cover;
}

.movie-row-text {
    margin: 0px 0px 0px 20px;
    width: 100%;

}

.movie-row-desc {
    margin: 10px 0px 20px 0px;
    color: var(--grey-text);
}

.movie-row-sessions {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.times-today-row {
    display: flex;
    margin-top: 10px;
}

.time {
    padding: 5px;
    margin-right: 20px;
    border: solid 2px var(--accent-color);
}

.movie-row-tickets-btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    letter-spacing: 2px;
}

.choose-movie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.choose-movie-btn {
    color: var(--grey-text);
    font-size: 16px;
    padding: 10px;
    margin-left: 10px;
    border: solid 1px var(--shadow-color);
}

.choose-movie-btn.active {
    color: var(--black);
    border: solid 1px var(--accent-color);
    box-shadow: 0px 0px 5px var(--accent-color);
}

.choose-time {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.choose-time-btn {
    color: var(--grey-text);
    font-size: 16px;
    padding: 10px;
    margin-left: 10px;
    border: solid 1px var(--shadow-color);
}

.choose-time-btn.active {
    color: var(--black);
    border: solid 1px var(--accent-color);
    box-shadow: 0px 0px 5px var(--accent-color);
}