* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-color: #f6f6f6;
    --shadow-color: #d8d8d8;
    --white: #fff;
    --black: #000;
    --accent-color: #df6400;
    background-color: var(--bg-color);
}

.content {
    max-width: 1100px;
    margin: 15px auto;
    background-color: var(--white);
    box-shadow: 0px 0px 10px var(--shadow-color);
}

.banner {
    height: 500px;
}

.list {
    height: 500px;
    color: var(--accent-color);
}
